.slider {
	position: relative;
	overflow: hidden;
}

.slider .slider-arrows {
	position: absolute;
	top: 0;
	width: calc(100vh - 266px);
	height: calc(100vh - 266px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.slider .slider-arrows__item {
	position: relative;	
	margin: 0 140px;
}

.slider .slider-arrows__item::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #000000;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.5s transform;
	z-index: -1;
}

.slider .slider-arrows__item:hover::before {
	transform: translate(-50%, -50%) scale(1);
}

.slider-video {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	z-index: -1;
}

.slider-video .slider-video__item video {
	min-width: 100vw;
	min-height: 100vh;
	z-index: -1;
}

.slider-video::after {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}

.slider .slider__list {
	width: calc(66.66666667% + 32px);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	margin: 0 auto;
}

.slider .slider__item.slick-slide {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	height: calc(100vh - 266px);
	margin: 0 auto;
}

.slider .slider__title {
	font-family: Montserrat-Medium;
	font-size: 38px;
	color: #ffffff;
	margin: 0;
	padding: 40px 30px;
}

.slider .slider__item.slick-slide .slider__title {
	opacity: 0;
	transition: 0.1s opacity;
}

.slider .slider__item.slick-slide.slick-active .slider__title {
	animation: appearText 0.6s ease-in;
	opacity: 1;
    transform: translateY(0);
}

@keyframes appearText {
  0% {
  	opacity: 0;
    transform: translateY(50px);
  }
  100% {
  	opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
	.slider .slider-arrows__item {
		margin: 0 60px;
	}
	.slider .slider__title {
		font-size: 28px;
	}
}

@media screen and (max-width: 991px) {
	.slider .slider__list {
		width: calc(50% + 2px);
	}
	.slider .slider__item.slick-slide {
		height: calc(100vh - 226px);
	}
	.slider .slider-arrows {
		width: calc(100vh - 226px);
		height: calc(100vh - 226px);
	}
	.slider .slider__title {
		padding: 25px;
		font-size: 24px;
	}
	.slider .slider-arrows__item {
		margin: 0 35px;
	}
}

@media screen and (max-width: 767px) {
	.slider .slider__list {
		width: 100%;
		border: none;
	}
	.slider .slider-arrows {
		display: none;
	}
	.slider .slider__item.slick-slide {
		height: calc(100vh - 214px);
	}
	.slider .slider__title {
		text-align: center;
	}
}

@media screen and (max-width: 475px) {
	.slider .slider__item.slick-slide {
		justify-content: center;
	}
	.slider .slider__title {
		font-size: 20px;	
	}
}